body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #258DB0;
}

.calculator_container{
    background-color: #f3e8d8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.header {
    margin-bottom: 15px;
}

.header > h1 {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 2px solid #ccc;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    font-size: 50px;
    margin-bottom: 15px;
}

.body{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 10px;
    justify-content: center;
}

.body > button {
  height: 60px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  transition: all 0.07s ease;

}

#buton_c, #buton_ce, #buton_div, #buton_mul,
#buton_minus, #buton_plus {
  background-color: gray;
  color: white;
}

#buton_equals {
  background-color: gray;
  color: white;
  grid-row: span 2;
  height: 130px;
}
#buton_0{
  grid-column: span 2;
}



