h1{
	
	font-family: super;
}

@font-face {
	font-family: super;
	src: url('../fonts/super.ttf');
}

#ir_contacto{
	background: green;
}

a:hover{
	color: red;
	background: green;
}

#lista_comida li:first-child{
	background: yellow;

}

#lista_comida li:last-child{
	background: orange;

}

.parrafos{
	background: red;
}

.informacion{
	background: green;
}

p:hover{
	background: black;
	color: white;
}



/*Estilos de contacto*/

#tc{
	text-shadow: 2px 2px green;
}

#parrafo_contacto{
	text-align: right;
	text-decoration: underline;
	text-decoration-color: red;
	text-transform: uppercase;
}