h1{
	
	font-family: super;
}

@font-face {
	font-family: super;
	src: url('../fonts/super.ttf');
}

#ir_contacto{
	background: green;
}

a:hover{
	color: red;
	background: green;
}

#lista_comida li:first-child{
	background: yellow;

}

#lista_comida li:last-child{
	background: orange;

}

.padding_paragraph{
	background: red;
	padding: 50px 20px 50px 20px;
}

.border_paragraph{
	background: green;
	border: 10px;
	border-style: double;
	border-color: yellow;
	border-radius: 10px;
}

.margin_paragraph{
	background: blue;
	margin: 25px 50px 25px 50px;
}

p:hover{
	background: black;
	color: white;
}



/*Estilos de contacto*/

#tc{
	text-shadow: 2px 2px green;
}

#parrafo_contacto{
	text-align: right;
	text-decoration: underline;
	text-decoration-color: red;
	text-transform: uppercase;
}