h1{
	
	font-family: super;
}

@font-face {
	font-family: super;
	src: url('../fonts/super.ttf');
}

#ir_contacto{
	background: green;
}


a:hover{
	color: red;
	background: green;
}

#lista_comida li:first-child{
	background: yellow;

}

#lista_comida li:last-child{
	background: orange;

}

.padding_paragraph{
	background: red;
	padding: 50px 20px 50px 20px;
}

.border_paragraph{
	background: green;
	border: 10px;
	border-style: double;
	border-color: yellow;
	border-radius: 10px;
}

.margin_paragraph{
	background: blue;
	margin: 25px 50px 25px 50px;
}

p:hover{
	background: black;
	color: white;
}


#img_bg{
	background-image: url("../img/montaña.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400px;

}



/*Estilos de contacto*/

#tc{
	text-shadow: 2px 2px green;
}

#parrafo_contacto{
	text-align: right;
	text-decoration: underline;
	text-decoration-color: red;
	text-transform: uppercase;
}

/*Estilos de about*/

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;

  column-gap: 10px;
  row-gap: 10px;
}

.container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.nav_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}
.content_grid{
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar_grid{
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.footer_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}

.flex_conteiner{
	display: flex;
	background-color: red;
	justify-content: center;
	flex-direction: row;
}

.flex_conteiner div{
	background-color: white;
	margin: 10px;
	padding: 20px;
	font-size: 20px;
}

@media print and (orientation: portrait){
	.my_photo{
		display: none;
	}
	blockquote{
		font-size: 70px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .my_photo{
  	width: 50%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .my_photo{
  	width: 50%;
  	background-color: red;
  }
}
